<div class="card">
    <h1>Page not found</h1>
    <p>Sorry, the page you are looking for does not seem to exist.</p>
    <p>Maybe you meant to go to one of these pages:</p>

    <div class="button-group">
        <a pButton routerLink="/home" >
            <i class="fa fa-home"></i>
            <span pButtonLabel>Home</span>
        </a>
        <a pButton routerLink="/randomizer">
            <i class="fa fa-random"></i>
            <span pButtonLabel>Randomizer</span>
        </a>
        <a pButton routerLink="/recipes">
            <i class="fa fa-utensils"></i>
            <span pButtonLabel>Compendium of Recipes</span>
        </a>
        <a pButton routerLink="/ingredients">
            <i class="fa fa-boxes-stacked"></i>
            <span pButtonLabel>Compendium of Ingredients</span>
        </a>
        <a pButton routerLink="/information">
            <i class="fa fa-question-circle"></i>
            <span pButtonLabel>Contact & Information</span>
        </a>
    </div>
</div>