.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
:host ::ng-deep router-outlet + * {
    flex: flex-grow;
    height: 100%;
}

app-theme-switcher, p-menubar{
    height: 5vh;
}

